<div class="widget_about_info_1x2">
  <div class="aboutinfo">
    <span class="aboutinfo_title"></span>
    <span>单位介绍</span>
  </div>
  <div class="widget_about_info">
    <div class="miMainImg"></div>
    <div class="miPassage">
      <span>
        国家电网公司（State Grid），简称国家电网和国网，成立于2002年（壬午年）12月29日，是经过国务院同意进行国家授权投资的机构和国家控股公司的试点单位。公司作为关系国家能源安全和国民经济命脉的国有重要骨干企业，以投资、建设和运行经营电网为核心业务，为经济社会发展提供坚强的智能电网保障。公司员工数量超过150万人，注册资金为2000亿元人民币，经营区域覆盖全国26个省、自治区和直辖市，覆盖国土面积的88%以上。
      </span>
    </div>
  </div>
</div>
