<div class="widget_LastEnergyProportion_2x1 widget">
    <div class="widget_name"> <em></em>
        <span class="na">{{title}}</span>
        <span>{{subtitle}}</span>
    </div>
    <div class="areaContent">
        <div class="areaT" ng-repeat="para in paras">
            <div class="areatp">
                <span class="{{para.code}}"></span>
                <span class="special">{{para.name}}</span>
            </div>
            <div class="totaldata">
                <span class="data">{{para.data}}</span>
                <div class="danw">{{para.unit}}</div>
            </div>
        </div>
    </div>
</div>
