 <div class="widget_LastEnergyPercent_2x1 widget">
         <div class="widget_name">
            <em></em><span class="na">{{title}}</span>
            <span>{{subtitle}}</span>
        </div>

        <div class="eneContent">
            <div class="eneContentleft">
            </div>
            <div class="eneContentright">
                <div class="eneContentlrightl">

                    <div class="spe">
                        <div class="speel"></div>
                        <div class="spe1">
                            <p><span>电</span> 32.4%</p>
                            <span style="color: #b9b9b9;">22350.2KW</span>

                        </div>
                    </div>
                </div>
                <div class="eneContentlrightr">
                    <div class="spe">
                        <div class="speel" style="background-color: #82dbad;"></div>
                        <div class="spe1">
                            <p><span>燃气</span> 32.4%</p>
                            <span style="color: #b9b9b9;">22350.2m³</span>
                        </div>
                    </div>
                </div>
                <div class="eneContentlrighttl">
                    <div class="spe">
                        <div class="speel" style="background-color: #85c0e8;"></div>
                        <div class="spe1">
                            <p><span>水</span> 32.4%</p>
                            <span style="color: #b9b9b9;">22350.2m³</span>
                        </div>
                    </div>
                </div>
                <div class="eneContentlrighttr">
                    <div class="spe">
                        <div class="speel" style="background-color: #d3f093;"></div>
                        <div class="spe1">
                            <p><span>燃油</span> 32.4%</p>
                            <span style="color: #b9b9b9;">22350.2L</span>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>