<div class="widget_building_total_4x1 widget">
    <div class="widget_name">
        <em></em><span class="na">{{title}}</span>
        <span>{{subtitle}}</span>
    </div>
    <div class="lengend">
        <div style="font-size: 12px; color: #7f7f7f;margin-top:3px">
            <span>单位：</span>
            <span>{{unit}}</span>
        </div>
        <div>
            <span class="gray"></span>
            <span style="margin-left: 5px; font-size: 12px; color: #7f7f7f">去年日能耗</span>
        </div>
        <div>
            <span class="green"></span>
            <span style="margin-left: 5px; font-size: 12px; color: #7f7f7f">低于去年同期</span>
        </div>
        <div>
            <span class="red"></span>
            <span style="margin-left: 5px; font-size: 12px; color: #7f7f7f">高于去年同期</span>
        </div>
    </div>
    <div id="energyTotal_LineChart" class="sagy_chart"></div>
</div>
