.widget_about_info_1x2 {
/*  width: 637px;*/
  height: auto;
}
.widget_about_info_1x2 .aboutinfo {
  height: 55px;
  width: 92%;
  padding-left: 8%;
  text-align: left;
  font-size: 16px;
}
.widget_about_info_1x2 .aboutinfo .aboutinfo_title {
  background: #E72500;
  width: 4px;
  height: 19px;
  position: relative;
  left: -2%;
  top: 3px;
  display: inline-block;
}
.widget_about_info_1x2 .widget_about_info {
  height: 247px;
}
.widget_about_info_1x2 .widget_about_info .miPassage {
  overflow: hidden;
  height: 247px;
  text-align: left;
  font-size: 12px;
  width: 52.5%;
  line-height: 25px;
  color: #7f7f7f;
}
.widget_about_info_1x2 .widget_about_info .miMainImg {
  float: left;
  width: 38.1%;
  height: 247px;
  background: url('../../imgs/widget-about-info/icon.png') center 0 no-repeat;
}
