.widget_about_info_2x1 {
    height: 300px;
}

    .widget_about_info_2x1 .widget_about_info {
        height: 247px;
    }

        .widget_about_info_2x1 .widget_about_info .miPassage {
            overflow: hidden;
            height: 217px;
            text-align: left;
            font-size: 12px;
            width: 52.5%;
            line-height: 25px;
            color: #7f7f7f;
            padding-top: 25px;
            float:left;
        }

        .widget_about_info_2x1 .widget_about_info .miMainImg {
            float: left;
            width: 38.1%;
            padding-top: 30px;
            height: 217px;
            text-align: center;
        }

            .widget_about_info_2x1 .widget_about_info .miMainImg img {
                float: left;
                margin-left: 19px;
                border: 7px solid #f0f0f0;
            }
