<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/signin.css" >

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <% if(locals.error){ %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <form class="form-signin" method="post" action="/signin" role="form">
        <h2 class="form-signin-heading">请登陆</h2>
        <input type="text" class="form-control" placeholder="用户名" name="id" required autofocus>
        <input type="password" class="form-control" placeholder="密码" name="password" required>
        <label class="checkbox">
          <input type="checkbox" name="remember" value="remember"> 记住登陆
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <input type='hidden' name='_csrf' value='<%= csrf %>' />
      </form>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
  </body>
</html>