@import './widgets/about-info.css';

* {
  font-family: Arial,"方正黑体简体","黑体",微软雅黑,Microsoft YaHei,SimHei,SimSun;color: #4f4f4f;
}
body ::-webkit-scrollbar {
  width:8px;height: 8px;
}
body ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);-webkit-border-radius: 8px;
}
body ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;background: rgba(0, 0, 0, 0.3);
}
body ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.clearfix:before, .clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
body{cursor:default;font-family:微软雅黑,Microsoft YaHei,"方正黑体简体","黑体";}
a{text-decoration:none;color:#ffffff;}
b {font-weight: normal;}

#header{width:100%;height:60px;background:#34373c;position:fixed;left:0;top:0;}
#head_title{width:auto;margin:0 auto;max-width:260px;min-width:200px;text-align:center;height:60px;}
#head_title>div{
padding-left:50px;height:60px;line-height:65px;font-size:20px;text-align:left;
color:rgba(255,255,255,.9);float:left;background:url(../imgs/nav/title_logo.png) no-repeat 0px 15px;
}
#head_right{
  float:right;min-width:300px;height:60px;color:#808080;padding-right:50px;
}
#head_right ul{height:30px;padding-top:15px;line-height:30px;}
#head_right ul li{
  cursor:pointer;min-width:30px;width:auto;float:right;color:#ffffff;
  border-left:1px solid #5f646c;padding:0 15px 0 50px;opacity:.8;
  background-image:url(../imgs/nav/header_right.png);
  background-repeat:no-repeat;height:30px;line-height:30px;
  background-position:0px 0px;
}

#head_right ul li:hover{opacity:1;}

#head_right ul li.h_Exit{background-position:10px -60px;}
#head_right ul li.h_Manage{background-position:10px -30px;}
#head_right ul li.h_CallPolice{background-position:10px 0px;}

#head_Menu{
  cursor:pointer;float:left;width:100px;height:60px;
  background-image:url(../imgs/nav/head_menu.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-color: #34373c;
}

.head_navWrap{width:auto;position:fixed;left:0;top:0;}
.head_Menu{}
.head_Menu>div{
  cursor:pointer;
  float:left;
  width:100px;
  height:60px;
  background:rgba(0,0,0,.1);
  display:block;
}
.head_MenuCur>div{display:none;}
.navList{
  position:fixed;top:60px;
  left:-120px;width:100px;
  /*left:0px;width:240px;*/
  height:100%;
  cursor:pointer;
  overflow:hidden;
  background: #4a555e;
  box-shadow: 3px 0px 5px rgba(0,0,0,.3);
  -webkit-box-shadow: 3px 0px 5px rgba(0,0,0,.3);
}
.nav_option{width:240px;overflow:hidden;}
.nav_option li{
  height:60px;line-height:60px;background: #4a555e;
  color:#ffffff;font-size:16px;text-align:left;
  border-bottom:1px solid #535e66;
}
.nav_option li a{width:100%;height:60px;display:block;}
.nav_option li div.o_ico{
  width:100px;height:60px;float:left;opacity:.5;
  background-position:0 0;
  background-repeat:no-repeat;
  background-image:url(../imgs/nav/nav_optionIco.png);
}
.nav_option li div.o_overviewMessage{background-position:center 0;}
.nav_option li div.o_map{background-position:center -60px;}
.nav_option li div.o_BuildingContrast{background-position:center -120px;}
.nav_option li div.o_management{background-position:center -180px;}
.nav_option li div.o_PrintIt{background-position:center -240px;}

.nav_option li div.o_ico span{display:block;float:left;width:6px;height:60px;}

.nav_option li div.o_text{width:140px;height:60px;float:left;color:#ffffff;}

.nav_option li:hover{
  background:#5b6771;
}
.nav_option li:hover div.o_ico{
  opacity:1;
}
.nav_option li:hover div.o_ico span{
  background:#ca0c00;
}
.nav_option li.optionSelect{background:#5b6771;}
.nav_option li.optionSelect div.o_ico{opacity:1;}
.nav_option li.optionSelect div.o_ico span{background:#2aa738;}

.nav_o2 li div.o_ico{background-image:url(../imgs/nav/BulidingIco.png);}
.nav_building{margin-top:30px;height:auto;position:relative;}
.nav_building .navBuild_title{
  height:60px;position:relative;width:240px;overflow:hidden;
}
.navBuild_title span.b_normal{
  position:absolute;
  left:0;
  top:0;
  height:60px;
  width:30px;
  display:block;
  background-image:url(../imgs/nav/BulidingIco.png);
  background-repeat:no-repeat;
  background-position:center -300px;
  opacity:.5
}
.navBuild_title span.pull{background-position:center -360px;opacity:.5}
.navBuild_title span.b_normal:hover{opacity:1;}
.navBuild_title span.pull:hover{opacity:1;}


.navBuild_title b.b_more{
  position:absolute;
  top:0;
  left:200px; 
  width:40px;
  height:60px;
  display:block;
  background:url(../imgs/nav/BulidingIco.png) no-repeat center -240px;
  opacity:.5;
}
.navBuild_title b.b_moreCur{opacity:1;}
.navBuild_title div.navBulid_ico{
  width:100px;height:60px;opacity:.5;float:left;
  background:url(../imgs/nav/BulidingIco.png) no-repeat 37px 0;
}
.nav_option li div.o_elec{background-position:center -60px;}
.nav_option li div.o_light{background-position:center -120px;}
.nav_option li div.o_distribution{background-position:center -180px;}

.navBuild_title div.navBulid_text{
  width:100px;height:60px;line-height:60px;font-size:16px;
  white-space:nowrap;padding:0 40px 0 0;color:#ffffff;float:left;
}
.nav_building:hover .navBuild_title div.navBulid_ico{opacity:1;}

.BuildingChoose{display:none;position:absolute;left:250px;top:235px;width:505px;height:385px;background:#f00;}

.py_container{
  width:100%;height:auto;min-height:450px;height:auto;
}
.py_content{
  min-width:1280px;
  max-width:1600px;
  margin:0 auto;
  /*border:1px solid blue;*/
  min-height:490px;
  height:auto;
  padding-top:60px;
}
.py_table{
  width: 100%;
}
.py_table td{
  height: 300px;
  border:1px solid red;
}

.widget_loading {
  width:100%;
  height:100%;
  background:url(../imgs/home/loading.gif) no-repeat center center;
}

